<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Codificación Asistida modificacion 20012025</title>
        <link rel="stylesheet" href="https://unpkg.com/primeflex@^3/primeflex.css"/>
    </h:head>
    <h:body class="main-body">
        Prueba
        <h:form id="datos" >
            <div class="card crud-demo">
                <div class="col-12">
                    <div class="ui-datatable ui-widget crud-table ui-datatable-reflow" style="visibility:hidden;"> 
                        <div class="ui-datatable-tablewrapper">
                            <p:dataTable id="tdUsuarios" widgetVar="tdUsuarios" value="#{webUsuarios.list}" var="row" rowKey="#{row.idUsuario}" showGridlines="true"
                                         rows="10" reflow="true" paginator="true" paginatorPosition="bottom"
                                         rowsPerPageTemplate="10,50,100,200,{ShowAll|'Todos'}" size="small"
                                         filteredValue="#{webUsuarios.filteredList}"
                                         globalFilterFunction="#{webUsuarios.globalFilterList}"
                                         styleClass="crud-table">
                                <f:facet name="header">
                                    <div class="crud-table-header">
                                        <span style="font-weight: bold">CATALOGO DE USUARIOS</span>

                                        <span class="filter-container ui-input-icon-left"> <i class="pi pi-search"></i>
                                            <p:inputText id="globalFilter" onkeyup="PF('tdUsuarios').filter()" placeholder="Search" />
                                        </span>
                                    </div>
                                </f:facet> 
                                <p:column headerText="NO">
                                    <h:outputText value="#{row.idUsuario}" />
                                </p:column>
                                <p:column headerText="LOGIN USUARIO">
                                    <h:outputText value="#{row.login}" />
                                </p:column>
                                <f:facet name="footer">
                                    <span class="font-bold">en total hay #{fn:length(webUsuarios.list)} usuarios.</span>
                                </f:facet>
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </h:body>
</html>
